@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li, a, button, h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252A;
}
.logo{
  cursor: pointer;
  font-size: 20px;
  transition: all 0.6s ease 0s;
}
.logo:hover{
  cursor: pointer;
  font-size: 20px;
  color: #f11f1f;
}
.navBar{
  list-style: none;
}
.navBar li{
  display: inline-block;
  padding: 0 20px;
}
.navBar li a{
  transition: all 0.3s ease 0s;
}
.navBar li a:hover{
  color: #f11f1f;
}
li > a{
  &.active{
    color: #f11f1f;
  }
}
.contact{
  padding: 9px 25px;
  background-color: #24252A;
  border: 2px solid #f11f1f;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.7s ease 0s;
  margin-right: 10px;
}
.contact:hover{
  background-color: #f11f1f;
  border: 2px solid #f11f1f;
  color: #24252A;
}
.contact2{
  padding: 12px;
  border-radius: 50px;
  border: 2px solid #f11f1f;
  transition: .3s ease-in-out;
}
.contact2:hover{
  background-color: #f11f1f;
  border: 2px solid #f11f1f;
  color: #24252A;
}
