<header>
  <a class="logo">GymTracker</a>
  <nav>
    <ul class="navBar">
      <li ><a class="navv" routerLink="">Home</a></li>
      <li ><a class="navv" routerLink="training-plans">Training plans</a></li>
      <li ><a class="navv" routerLink="/cars/manage">Records</a></li>
      <li ><a class="navv" routerLink="my-rented-books">History</a></li>
      <li ><a class="navv" routerLink="my-returned-cars">Charts</a></li>
    </ul>
  </nav>
  <a class="cta"><button  class="contact">Profile</button>
    <button class="btn btn-link" type="button" (click)="logout()">
      <i class="fas fa-sign-out-alt contact2"></i>

    </button>
  </a>
</header>

