<div class="site">
  <h1 class="todo">
    <p>Gym</p>
    <p class="obj1">Tracker</p>
  </h1>
  <div class="container" id="container" >
    <div class="form-container sign-up"  [@toggleSlideAnimation]="isActive ? 'right' : 'left'">
      <div class="contentSingIn">
        <br />
        <h1 class="signIn">Create Account</h1>
        <div class="showMessage" >
          <div class="message"  *ngIf="errorMsg.length" > {{errorMsg[0]}}</div>
        </div>
        <div class ="inputGroup">
          <input type="text" autocomplete="off" required>
          <label>Name</label>
        </div>
        <div class ="inputGroup">
          <input type="text" autocomplete="off" required>
          <label>Email</label>
        </div>
        <div class ="inputGroup">
          <input type="text" autocomplete="off" required>
          <label>Password</label>
        </div>
        <button name="register" (click)="login()" type="button">Sign Up</button>
      </div>

    </div>


    <div class="form-container sign-in" [@toggleSlideAnimation2]="isActive ? 'right' : 'left'">
      <div class="contentSingIn2">
        <h1 class="signIn">Sign In</h1>
        <div class="showMessage" >
          <div class="message"  *ngIf="errorMsg.length" > {{errorMsg[0]}}</div>
        </div>
        <div class ="inputGroup">
          <input [(ngModel)]="authRequest.email" type="email"  id="login"  autocomplete="off" required>
          <label>Email</label>
        </div>
        <div class ="inputGroup">
          <input [(ngModel)]="authRequest.password" type="password" class="form-input" id="password"  autocomplete="off" required>
          <label>Password</label>
        </div>
        <button (click)="login()">Sign In</button>
      </div>
    </div>
    <div class="toggle-container" [@toggleAnimation]="isActive ? 'active' : 'inactive'">

      <div class="toggle"  >
        <div class="toggle-panel toggle-left"  [@panel]="isActive ? 'active' : 'inactive'">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details and start tracking your trainings</p>
          <button (click)="toggleAnimation()" class="hidden" >Sign In</button>
        </div>
        <div class="toggle-panel toggle-right" [@panel2]="isActive ? 'active' : 'inactive'">
          <h1>First time?</h1>
          <p>Register with your personal details and start tracking your gains</p>
          <button (click)="toggleAnimation()" type="submit" class="hidden" id="register">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

