.trainingContent{
  width: 90%;
  height: 74vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 17vh;
  overflow: auto;
}
.exerciseGroup{
  color: #edf0f1;
  position: absolute;
  bottom: .4vh;
  left: 8vh;
  text-transform: lowercase;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.exerciseSets{
  position: absolute;
  bottom: .4vh;
  right: 2vh;
  color: #edf0f1;
}
.exerciseName{
  margin-left: 8vh;
  position: absolute;
  color: #edf0f1;
  font-weight: 500;
  font-size: .9rem;
  top: 1vh;
}
