<div class="containerData">
<div class="mainContainer2">
  <div class="trainingsSection">
    <div class="trainingText">Workout plans</div>
    <button class="newTraining" (click)="addTraining()"><i class="fa-solid fa-plus"></i></button>
    <div class="trainingContent">

      <div class="training" *ngFor="let training of planResponse" (click)="displayAllExercises(training.id)" >
        <div class="firstGroup" >
          <div class="trainingName">{{training.name}}</div>
          <div class="trainingExercises">Exercises: {{training.exercises}}</div>
          <div class="trainingExercises">Sets: {{training.sets}}</div>
        </div>
        <div class="trainingGroup">Muscle groups: {{training.muscleGroups ? training.muscleGroups.join(', ').toLowerCase() : ''}}
        </div>
        <a class="editTraining" (click)="editTraining(training.id)"><i class="fa-solid fa-pen-to-square"></i></a>
      </div>



    </div>
  </div>
  <div class="exerciseSection">
    <div class="edit"><i class="fas fa-ellipsis-v"></i></div>
    <div class="exerciseText">Workout exercises</div>
    <div class="trainingContent" >
      <div class="exercise" *ngFor="let exercise of planExerciseResponse; let i = index">
        <div class="indexExercise">{{i+1}}</div>
        <div class="exerciseName">
          {{exercise.exerciseName}}
        </div>
        <div class="exerciseGroup">
          Group: {{exercise.type}}
        </div>
        <div class="exerciseSets">
          Sets: {{exercise.sets}}
        </div>
      </div>



    </div>
  </div>


</div>
</div>
