.mainContainer2{
  background-color: #1B1B1B;
  width: max(800px, 50%);
  margin: auto;
  height: 95vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  animation-delay: 0.8s;
  animation: grow 1s forwards;
}
.exerciseSection{
  background-color: #2a2929;
  border-radius: 10px;
  height: 95vh;
  width: 40%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  animation-delay: 0.8s;
  animation: grow 1s forwards;
}
.trainingText{
  color: #edf0f1;
  font-weight: 600;
  font-size: 2.4rem;
  position: absolute;
  left: 4vh;
  top: 2vh;
}
.newTraining{
  position: absolute;
  right: 2vh;
  top: 2.5vh;
  color: #f11f1f;
  background-color: #1B1B1B;
  border: 3px solid #f11f1f;
  border-radius: 10px;
  height: 5%;
  width: 8%;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  transition: .4s ease-in-out;
  align-items: center;
  display: flex;
  justify-content: center;
}
.newTraining:hover{
  background-color: #f11f1f;
  color: #1B1B1B;
}
.trainingContent{
  width: 90%;
  height: 74vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 17vh;
  overflow: auto;
}
.exerciseGroup{
  color: #edf0f1;
  position: absolute;
  bottom: .4vh;
  left: 8vh;
  text-transform: lowercase;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.exerciseSets{
  position: absolute;
  bottom: .4vh;
  right: 2vh;
  color: #edf0f1;
}
.exerciseName{
  margin-left: 8vh;
  position: absolute;
  color: #edf0f1;
  font-weight: 500;
  font-size: .9rem;
  top: 1vh;
}
