<div class="mainContainer2">

<div class="headContent">
  <div class="userTraining">Trainings</div>
  <a class="addTraining" (click)="addTraining()"><i class="fa-solid fa-plus"></i></a>
</div>


  <div class="listOfTrainings">

      <div class="training">
        <div class="firstGroup">
          <div class="trainingName">Training name</div>
          <div class="trainingExercises">Exercises: 7</div>
          <div class="trainingSeries">Series: 27</div>
        </div>
          <div class="trainingGroup">Muscle groups: Biceps, Chest, Triceps, Back</div>
          <a class="editTraining"><i class="fa-solid fa-pen-to-square"></i></a>
      </div>

    <div class="training">
      <div class="firstGroup">
        <div class="trainingName">Training name</div>
        <div class="trainingExercises">Exercises: 7</div>
        <div class="trainingSeries">Series: 27</div>
      </div>
      <div class="trainingGroup">Muscle groups: Biceps, Chest, Triceps, Back</div>
      <a class="editTraining"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
    <div class="training">
      <div class="firstGroup">
        <div class="trainingName">Training name</div>
        <div class="trainingExercises">Exercises: 7</div>
        <div class="trainingSeries">Series: 27</div>
      </div>
      <div class="trainingGroup">Muscle groups: Biceps, Chest, Triceps, Back</div>
      <a class="editTraining"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>



  </div>


</div>
