<div class="containerData">


  <div class="contactContainer">
    <div class="contactContent">
      <div class="contactName">Contact with me</div>

      <div class="contactTarget">

        <a href="https://github.com/AleksanderBanasiak" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
        <a href="https://www.linkedin.com/in/aleksanderbanasiak/" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
        <a href="mailto:gym.track.contact@gmail.com"><i class="fa-solid fa-envelope"></i> Send email</a>

      </div>

      <div class="infoContact">The creator of the GymTrack application is Aleksander Banasiak</div>
    </div>
  </div>

</div>
