@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
.todo{
  color: #cb1e1e;
  font-size: 70px;
  font-weight: 700;
  display: flex;
}
.obj1{
  color: #1B1B1B;
}
.container{
  background-color: #1B1B1B;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width:  838px;
  max-width: 100%;
  min-height: 527px;
  margin-bottom: 60px;
}
.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.container button{
  background-color: #cb1e1e;
  font-size: 14px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;
  transition: .8s;
}
.container button:hover{
  background-color: #cb1e1e;
  color: #edf0f1;
}
.container button.hidden{
  background-color: transparent;
  border-color: #24252A;
  color: #24252A;
  transition: 1.2s;
}
.container button.hidden:hover{
  background-color: #24252A;
  border-color: #24252A;
  color: #f11f1f;
}
.signIn{
  color: #cb1e1e;
  font-size: 40px;
  transition: 1s;
}
.contentSingIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.contentSingIn2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
.signIn:hover{
  color: #edf0f1;
  font-size: 40px;
}
.container input{
  background-color: #edf0f1;
  margin: 8px 0;
  font-size: 13px;
  outline: none;
}
.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.inputGroup {
  position: relative;
  width: 300px;
}
.inputGroup label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #cb1e1e;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
  font-weight: 500;
  background-color: transparent;
}
.inputGroup input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #cb1e1e;
  background: transparent;
  border: 3px solid #cb1e1e;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  box-sizing: border-box;
}
.inputGroup input:focus ~ label, .inputGroup input:valid ~ label {
  top: 9px;
  font-size: 14px;
  background-color: #24252a;
  padding: 0 5px;
}
.toggle{
  background-color: #cb1e1e;
  height: 100%;
  color: #24252A;
  font-weight: 400;
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.container.active .toggle{
  transform: translateX(50%);
}
.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.toggle-left{
  transform: translateX(-200%);
}
.container.active .toggle-left{
  transform: translateX(0);
}
.toggle-right{
  right: 0;
  transform: translateX(0);
}
.container.active .toggle-right{
  transform: translateX(200%);
}
.sign-up2{
  left: 50%;
  width: 50%;
  z-index: 2;
}
.container.active .sign-up2{
  transform: translateX(-100%);
}
.sign-in2{
  left: 50%;
  width: 50%;
  z-index: 1;
}
.toggle-container2{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}
.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}
.sign-up{
  left: 0;
  width: 50%;
  z-index: 1;
}
.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}
.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}
.showMessage{
  height: 40px;
  width: 250px;
  display: flex;
  justify-content: center;
}
.message{
  background-color: #cb1e1e;
  padding: 5px 10px 30px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 600;
  -webkit-animation: 1.2s ease 0s normal forwards 1 fadein;
  animation: 1.2s ease 0s normal forwards 1 fadein;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* end login*/
.containerData{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #464646;
}
.mainContainer2{
  background-color: #1B1B1B;
  width: max(800px, 50%);
  margin: auto;
  height: 95vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  animation-delay: 0.8s;
  animation: grow 1s forwards;
}
.trainingsSection{
  height: 95vh;
  width: 60%;
  transform: scale(0.97);
  animation-delay: 0.1s;
  animation: grow 1s forwards;
}
.newTraining:hover{
  background-color: #f11f1f;
  color: #1B1B1B;
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.97) translate(-10px, -10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.firstGroup{
  display: flex;
  flex-direction: row;
  height: 70%;
  align-items: center;

}
.training{
  margin-bottom: 1vh;
  background-color: #3d3838;
  border-radius: 10px;
  width: 99%;
  height: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #edf0f1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.trainingName{
  color: #f11f1f;
  font-weight: 600;
  font-size: 1.6rem;
  margin-left: .8rem;
  transition: .5s ease-in-out;
}
.trainingName:hover{
  color: #edf0f1;
}
.trainingExercises{
  margin-top: .3rem;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1rem;
}
.trainingGroup{
  margin-left: 1rem;
  height: 30%;
  font-weight: 500;
  font-size: .8rem;
}
.editTraining{
  border: 2px solid red;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  color: #f11f1f;
  background-color: #3d3838;
  border-radius: 10px;
  padding: .3rem .6rem;
  font-size: 1rem;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.editTraining:hover{
  background-color: #f11f1f;
  color: #3d3838;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #3d3838;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #f11f1f;
  border-radius: 10px;
}
.exerciseText{
  position: absolute;
  color: #edf0f1;
  font-size: 1.5rem;
  font-weight: 600;
  left: 5%;
  top: 3%;
  width: 87%;
  height: 15vh;
  flex-wrap: wrap;
}
.exercise{
  background-color: #3d3838;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  width: 98%;
  height: 11.9%;
  margin-bottom: 2vh;
  position: relative;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}
.edit{
  position: absolute;
  right: 2vh;
  top: 2vh;
  color: #1B1B1B;
  font-size: 1.6rem;
  transition: .4s ease-in-out;
}
.edit:hover{
  color: #edf0f1;
}
.indexExercise{
  color: #edf0f1;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  background-color: #f11f1f;
  left: 0;
  width: 7vh;
  font-weight: 600;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}
/*end addTraining*/



.site {
  background-color: #464646;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
