select{
  position: absolute;
  top: -33%;
  font-size: 2vh;
  background-color: #1B1B1B;
}
.favExercise{
  color: #f11f1f;
  position: absolute;
  top: -30.1%;
  right: 4%;
  z-index: 10;
}
.favExercise i{
  font-size: 4vh;
}

