<div class="mainContainer">

<!-- <div *ngFor="let ex of exerciseResponse" class="noej">-->
<!--    {{ex.type}}-->
<!-- </div>-->
  <div class="containerData">
  <div class="hello">
    <div class="helloUser">Hello, user</div>
  <div class="helloDate">23.05.11</div>
  </div>

    <div class="mainContentInContainer">

      <div class="contentInside">
        <div class="infoTraining">
          <div class="descriptionInside">Last training</div>
        </div>
      </div>

      <div class="contentInside">
        <div class="infoTraining">
          <div class="descriptionInside">Info about your trainings</div>
          <div class="infoAbout">
            <div class="digitData">
            <div class="digitInside">17212</div>
            <div class="kg">kg</div>
            </div>
            <div class="infoDescription">weight</div>
            </div>
          <div class="infoAbout">
            <div class="digitData">
            <div class="digitInside">45</div>
            </div>
            <div class="infoDescription">trainings</div>
          </div>
          <div class="infoAbout">
            <div class="digitData">
            <div class="digitInside">3892</div>
            </div>
            <div class="infoDescription">reps</div>
          </div>

        </div>
      </div>

      <div class="contentInside">
        <div class="infoTraining">
          <div class="descriptionInside">Your progress</div>
        </div>
      </div>

      <div class="contentInside">
        <div class="infoTraining">
          <div class="descriptionInside">Your personal records</div>
          <div class="infoAbout">
            <div class="digitData">
            <div class="digitInside">75</div>
            <div class="kg">kg</div>
            </div>
            <div class="infoDescription">Bench</div>
          </div>
          <div class="infoAbout">
            <div class="digitData">
            <div class="digitInside">120</div>
            <div class="kg">kg</div>
            </div>
            <div class="infoDescription">Deadlift</div>
          </div>
          <div class="infoAbout">
            <div class="digitData">
            <div class="digitInside">90</div>
            <div class="kg">kg</div>
            </div>
            <div class="infoDescription">Squat</div>
          </div>

        </div>
      </div>
    </div>

  <div class="startTraining">Start Training</div>
  </div>
</div>
