<div class="all">
<div class="containerData"  [ngClass]="{ 'blur': setTraining && !isUnsaved, 'maxblur': maxBlur }" (click)="onContainerClick()">
  <div class="userSection">
    <div class="box user">
      <div class="helloUser"> Hello, user</div>
      <button class="userProfile"> <i class="fa-solid fa-user"></i>Profile</button>
    </div>
  </div>
  <div class="allSection">

    <div class="section1">
      <div class="box logs"><div class="divText">last month</div></div>
      <div class="box logs2"><div class="divText">progress</div></div>
    </div>
    <div class="section1">
      <div class="box records">
        <div class="divText">records</div>
      <div class="contentSection">
          <div class="recordContent">
            <div class="recordBox">
              <img src="assets/imgs/bench-press.png" alt="Gym Image">
              90kg
            </div>
            <div class="recordText">
              Bench
            </div>
          </div>
        <div class="recordContent">
            <div class="recordBox">
              <img src="assets/imgs/gym.png" alt="Gym Image">
              220kg
            </div>
            <div class="recordText">
              Deadlift
            </div>
          </div>
        <div class="recordContent">
            <div class="recordBox">
              <img src="assets/imgs/squat-rack.png" alt="Gym Image">
              120kg
            </div>
            <div class="recordText">
              Squat
            </div>
          </div>
      </div>
      </div>
      <div class="box rest"><div class="divText">summary</div>
        <div class="contentSection">
          <div class="recordContent">
            <div class="recordBox">
              124t
            </div>
            <div class="recordText">
              Weight
            </div>
          </div>
          <div class="recordContent">
            <div class="recordBox">
              2212
            </div>
            <div class="recordText">
              Sets
            </div>
          </div>
          <div class="recordContent">
            <div class="recordBox">
              9864
            </div>
            <div class="recordText">
              Reps
            </div>
          </div>
        </div>

      </div>
      <div class="box rest2">
        <div class="divText">your weight</div>

        <div class="weightContentInHome">
          <app-linechart></app-linechart>
        </div>
      </div>
    </div>
    <div class="section2">
      <div class="box lastTraining"><div class="divText">last training</div></div>
      <div class="box startTraining">
        <div class="divText">next training</div>
        <button (click)="chooseTraining($event)" >Start training</button>




      </div>
    </div>




  </div>







  </div>

  <div class="startTrainingSection " *ngIf="setTraining && !isUnsaved" >
    <div class="box lastTraining borderBox"><div class="divText">choose training</div>
      <div class="startTrainingContent">
        <div class="trainingContent"

             [ngClass]="{'exerciseInTraining': res !== this.selectedTraining,
         'clicked':  res === this.selectedTraining,
         }"

             *ngFor="let res of planResponse" (click)="chosenPlan(res)">{{res.name}}</div>
      </div>
    </div>
    <div class="box startTraining borderBox">
      <div class="divText">start training</div>
      <button (click)="startTraining(planId)">Start training</button>


    </div>
  </div>

  <div class="backToLastTraining" *ngIf="isUnsaved">
    <div class="divText">unsaved training</div>
    <div class="suppText">
    <div class="lastTrainingText">Your last training session&nbsp; <strong style="color: #f11f1f"> {{workoutSessionResponse?.sessionDate}}</strong>
     &nbsp;has not been saved</div>
    </div>
<!--    TODO: teraz jest tylko id-->
<!--    <div class="lastTrainingName">{{workoutSessionResponse?.planName}}</div>-->
    <div class="buttonContainer">
    <button class="trainingButton" (click)="deleteWorkout()">Delete</button>
    <button class="trainingButton" (click)="backToLastWorkout()">Back to workout</button>
    </div>
  </div>
</div>






