.containerData{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #464646;
  transition: .2s ease-in-out;

}
.all{
  position: relative;
  width: 100%;
  height: 100%;
}
.blur{
  filter: blur(5px);
}
.maxblur{
  filter: blur(7px);
}

.userSection{
  width: 100%;
}
.box{
  width: 40%;
  height: 20%;
  background-color: #1B1B1B;
  margin: 12px;
  border-radius: 10px;
  color: #edf0f1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transform: scale(0.97);
  animation-delay: 0.1s;
  animation: grow 1s forwards;

}
.allSection{
  width: 100%;
  height: 86%;
  display: flex;
  flex-direction: row;
}
.section1{
  height: 100%;
  width: 60%;

}
.section2Home{
  width: max(300px, 22%);
  position: relative;
}
.user{
  width: 98%;
  height: 10vh;
  transition: .3s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: row;
}
.logs{
  width: 97%;
  height: 50%;
}
.logs2{
  width: 97%;
  height: 45%;
}
.records{
  position: relative;
  width: 97%;
  height: 28%;
}
.rest{
  width: 97%;
  height: 28%;
}
.rest2{
  width: 97%;
  height: 37%;
}
.lastTraining{
  width: 90%;
  height: 75%;
}
.startTraining{
  width: 90%;
  position: relative;
  height: 20%;
}
.divText{
  position: absolute;
  width: 80%;
  font-weight: 500;
  margin: 1vh 0 0 2vh;
}
.startTraining button{
  position: absolute;
  top: 40%;
  border: 3px solid #f11f1f;
  color: #f11f1f;
  height: 8vh;
  left: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  transform: translateX(-50%);
  width: 80%;
  background-color: #1B1B1B;
  border-radius: 10px;
  transition: .4s ease-in-out;
}
.startTraining button:hover{
  background-color: #f11f1f;
  color: #1B1B1B;
}
.helloUser{
  color: #f11f1f;
  height: 100%;
  font-size: 2em;
  font-weight: 600;
  margin-left: 2vw;
  margin-top: 1vh;
}
@keyframes grow {
  from {
    opacity: 0;
    transform: scale(0.97) translate(-10px, -10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.userProfile{
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  font-weight: 600;
  padding: 1vh 2vh 1vh 2vh;
  border: #f11f1f 3px solid;
  transition: .4s ease-in-out;
  font-size: 1.1rem;
  background-color: #1B1B1B;
  color: #f11f1f;
}
.userProfile:hover{
  background-color: #f11f1f;
  color: #1B1B1B;
}
.userProfile i{
  margin-right: 10px;
}
.contentSection{
  position: absolute;

  width: 100%;
  height: 80%;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.recordContent{

  width: 90px;
  text-align: center;
}
.recordBox{
  border: 3px solid #f11f1f;
  color: #1B1B1B;
  border-radius: 10px;
  height: 65%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: #f11f1f;
}
.recordText{
  font-size: 1.2rem;
}
.recordBox img{
  position: absolute;
  width: 15%;
  height: 70%;
}
.startTrainingSection{
  height: 85%;
  width: max(200px, 15%);
  position: absolute;
  top: 14%;
  right: 1vh;
  overflow: hidden;
}
.borderBox{
  border: 1px solid #f11f1f;
}
.startTrainingContent{
  width: 100%;
  height: 55.5vh;
  margin-top: 5vh;
  overflow: auto;
}
.trainingContent{
  padding: 2vh 0 2vh 2vh;
  border-bottom: 1px solid #525561;
  font-size: 1.3rem;
  transition: .5s ease;
  font-weight: 600;
  cursor: pointer;
}
.trainingContent:hover{
  background-color: #f11f1f;

}

.exerciseInTraining:hover{
  background-color: #383737;
}

.clicked{
  background-color: #f11f1f;
}
.backToLastTraining{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1B1B1B;
  border: 2px solid #f11f1f;
  border-radius: 10px;
  width: 25%;
  height: 30vh;
  color: #edf0f1;
}
.trainingButton{
  border: 3px solid #f11f1f;
  color: #f11f1f;
  height: 40%;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0 2vh;
  background-color: #1B1B1B;
  border-radius: 10px;
  transition: .4s ease-in-out;
  margin: 2vh;
}
.trainingButton:hover{
  background-color: #f11f1f;
  color: #1B1B1B;
}
.buttonContainer{
  position: absolute;
  top: 55%;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.lastTrainingText{
  width: 90%;
  font-size: 3vh;
}
.suppText{
  width: 100%;
  position: absolute;
  top: 18%;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.weightContentInHome{
  width: 90%;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  height: 75%;
}
