.exerciseName{
  margin-left: 9vh;
  position: absolute;
  color: #edf0f1;
  font-weight: 600;
  font-size: 3.5vh;
  top: 50%;
  transform: translateY(-50%);
}
.trainingContent{
  width: 90%;
  height: 85%;
  position: relative;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  overflow-y: auto;
}
.exerciseRecord{
  width: 95%;
  min-height: 31%;
  margin-bottom: 2vh;
  border-radius: 10px;
  background-color: #3d3838;
  display: block;
}
.recordContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #edf0f1;
}
.exerciseRecordName{
  font-size: 4vh;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.exerciseDetails{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
}
.recordData{
  width: 100%;
  height: 78%;
  position: relative;
}
.data{
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid.fa-medal, .fa-solid.fa-fire-flame-curved, .fa-solid.fa-weight-hanging {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 8vh;
  z-index: 1;
}
.recordDate{
  font-weight: 600;
  font-size: 2vh;
  border: 2px solid #f11f1f;
  background-color: #f11f1f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noData{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3vh;
}
.allRecords{
  border: 2px solid red;
  width: 100%;
}
