<div  [ngClass]="{ 'mainContainer2': !selectedCreatedExercise, 'mainBlur': selectedCreatedExercise}">

  <div class="headContent">
    <div class ="inputGroup">
      <input type="text" autocomplete="off" required>
      <label>Training name</label>
    </div>
    <a class="addTraining" ><i class="fa-solid fa-check"></i></a>
  </div>


  <div class="messageBox">
    <div class="message">Some error</div>
  </div>

  <div class="createTraining">
    <div class="createName">

<!--      <button (click)="createTraining()">XD</button>-->
    </div>



    <div class="exercisePanel">
      xd
    </div>


    <div class="selectForm" >
      <div class="selectAll">
      <div class="topSelected">
      <select [(ngModel)]="selectedExercise" class="selectedType selectedExercise">
        <option *ngFor="let exercise of exerciseResponse"  [ngValue]="exercise" class="selectedExerciseOption">
          {{ exercise.name }} </option>
      </select>
      </div>
      <div class="botSelected">
      <select [(ngModel)]="selectedType" (change)="findAllExercises()" class="selectedType">
      <option *ngFor="let type of exerciseTypes" [ngValue]="type" class="selectedTypeOption">{{ type }}</option>
    </select>
      <select [(ngModel)]="selectedSets" class="selectedType">
        <option *ngFor="let sets of [0,1,2,3,4,5,6,7,8,9,10]" class="selectedTypeOption">
          {{ sets }}</option>
      </select>
        <button (click)="createExercise()" class="buttonCreate">Create exercise</button>
      </div>
      </div>
    <div class="selectCreate">
      <button (click)="addExercise()" class="buttonCreate">
        <br>Add to plan
        <br>&nbsp;
      </button>
    </div>
    </div>

  </div>






</div>


  <div class="createExercisePanel" [ngClass]="{ 'createExercisePanelNo': !selectedCreatedExercise, 'createExercisePanel': selectedCreatedExercise}">


  </div>
