




.exerciseSection{
  background-color: #2a2929;
  border-radius: 10px;
  height: 95vh;
  width: 40%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  animation-delay: 0.8s;
  animation: grow 1s forwards;
}
.newTraining{
  position: absolute;
  right: 2vh;
  top: 3.5vh;
  color: #f11f1f;
  background-color: #1B1B1B;
  border: 3px solid #f11f1f;
  border-radius: 10px;
  padding: 0 1.2vh;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  transition: .4s ease-in-out;
}

.trainingContent{
  border-radius: 10px;
  background-color: #2a2929;
  width: 90%;
  height: 74vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 17vh;
}
.trainingContent2{
  width: 96%;
  height: 74vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 17vh;
  overflow: auto;
}
.form__group {
  position: absolute;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #646262;
  outline: 0;
  font-size: 1.3rem;
  color: #f11f1f;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #646262;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #f11f1f, #f11f1f);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #f11f1f;
  font-weight: 700;
}
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
.trainingText{
  color: #edf0f1;
  font-weight: 600;
  font-size: 2.4rem;
  position: relative;
  left: 4vh;
  height: 10vh;
  width: 100%;
}

.exerciseGroup{
  color: #edf0f1;
  position: absolute;
  bottom: .4vh;
  left: 8vh;
  text-transform: lowercase;
}
.exerciseSets{
  position: absolute;
  bottom: .4vh;
  right: 5.5vh;
  color: #edf0f1;
}
.exerciseName{
  margin-left: 8vh;
  position: absolute;
  color: #edf0f1;
  font-weight: 500;
  font-size: .9rem;
  width: 73%;
  top: 1vh;
}
.exercise i{
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 600;
  font-size: .9rem;
  transition: .4s ease-in-out;
  background-color: #f11f1f;
  width: 3vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.exercise i:hover{
  color: #edf0f1;
}
.headContent{
  border-bottom: 1px solid #3d3838;
  height: 8vh;
  position: relative;
}
.headContent select{
  background-color: #2a2929;
  border-radius: 10px;
  padding: 1vh;
  color: #edf0f1;
  margin: 1vh;
  border: 2px solid #f11f1f;
  text-align: center;
}
.headContent button{
  position: absolute;
  background-color: #2a2929;
  color: #edf0f1;
  right: 1vh;
  top: 1vh;
  padding: 1vh;
  border-radius: 10px;
  border: 2px solid #f11f1f;
  transition: .4s ease-in-out;
}
.headContent button:hover{
  background-color: #f11f1f;
  color: #1B1B1B;
}
.exerciseInTraining{
  color: #edf0f1;
  padding: 1vh 0;
  border-bottom: 1px solid #3d3838;
  flex-wrap: wrap;
  transition: .3s ease;

}
.sectionOfExercises{
  width: 100%;
  height: 65.5vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 8vh;
  overflow: auto;
  border-bottom-left-radius: 10px;
}
.exerciseInTraining:hover{
  background-color: #383737;
}
.textInExercise{
  margin-left: 2vh;
  position: relative;

}
.textInExercise {
  cursor: pointer;
}
.clicked{
  color: #edf0f1;
  padding: 1vh 0;
  border-bottom: 1px solid #3d3838;
  flex-wrap: wrap;
  background-color: #f11f1f;
}
.message{
  color: #1B1B1B;
  position: absolute;
  left: 50%;
  top: 12vh;
  transform: translateX(-50%);
  border: #f11f1f 2px solid;
  border-radius: 10px;
  background-color: #f11f1f;
  font-weight: 600;
  padding: 0 1vh;
  transition: .3s ease-in-out;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.message:hover{
  background-color: #1B1B1B;
  color: #f11f1f;
}
.addExercise{
  position: absolute;
  background-color: #3d3838;
  height: 8%;
  top: 0;
  width: 100%;
  -webkit-animation: .3s ease 0s normal forwards 1 fadein;
  animation: .3s ease 0s normal forwards 1 fadein;

  /*border: 2px solid pink;*/
}
.addExercise input{
  background-color: #3d3838;
  bottom: 50%;
  transform: translateY(50%);
  position: absolute;
  left: 1vh;
  border: 2px solid #1B1B1B;
  border-radius: 10px;
  padding-left: 2vh;
  width: 70%;
  color: #edf0f1;
  height: 80%;
}
.back{
  position: absolute;
  color: #1B1B1B;
  background-color: #3d3838;
  right: 2vh;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  transition: .4s ease-in-out;
}
.back:hover{
  color: #edf0f1;
}
.exerciseButton{
  position: absolute;
  color: #1B1B1B;
  background-color: #3d3838;
  right: 5vh;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #1B1B1B;
  padding: .3vh .7vh;
  border-radius: 10px;
  transition: .3s ease-in-out;
}
.exerciseButton:hover{
  color: #edf0f1;
  border: 2px solid #edf0f1;
}
.userExercise{
  color: #edf0f1;
  position: absolute;
  right: 2vh;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s ease-in-out;
  font-size: .7rem;
}
.userExercise:hover{
  color: #1B1B1B;
}
